@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)),url(bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.justify-content-center{
    display: flex;
    justify-content: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.m-auto{
    margin: auto;
}

.ml-auto{
    margin-left: auto;
}

.text-orange{
    color: rgba(230, 167, 86, 1);
}

.text-white{
    color: #f6e1c5;
}

.text-center{
    text-align: center;
}

.section-background{
    background-color: rgba(47, 23, 15, 0.9);
}

.btn{
    text-decoration: none;
}

.header{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.header span{
    display: block;
    font-family: 'Raleway', sans-serif;
}

.header span:nth-child(1){
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.header span:nth-child(2){
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
}

.nav-section{
    padding: 2rem;
}

.nav-section a{
    color: #f6e1c5;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.active{
    border-bottom: 1px solid white;
}

.sections{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.first-section{
    height: 38rem;
}

.index-section-img{
    position: absolute;
    right: 10%;
    width: 60%;
    border-radius: 10px;
}

.section-div{
    background-color: #f6e1c5;
    border-radius: 5px;
    padding: 3rem;
}

.content-head{
    font-family: 'Raleway', sans-serif;
}

.content-head span{
    display: block;
}

.section-div .content-head span:nth-child(1){
    font-size: 1rem;
    font-weight: 800;
}

.section-div .content-head span:nth-child(2){
    font-size: 3rem;
    font-weight: 100;
}

.index-div{
    width: 30%;
    position: absolute;
    left: 7%;
    margin-top: 3rem;
}

.content-body{
    margin: 1rem;
    font-family: 'Lora';
}

.content-body p{
    line-height: 1.75;
}

.section-btn{
    display: inline-table;
    padding: 2rem;
    color: #000;
    background-color: #e6a756;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 10px;
    font-weight: 700;
}

.orange-section{
    background-color: rgba(230, 167, 86, 0.9);
}

.promise-section{
    height: 28rem;
}

.promise-container::before{
    border-radius: 0.5rem;
    content: "";
    position: absolute;
    top: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    border: 0.25rem solid rgba(255, 255, 255, 0.85);
    z-index: -1;
}

.promise-container{
    width: 60%;
    position: relative;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #f6e1c5;
    padding: 2rem;
    border-radius: 0.25rem;
}

.promise-h1{
    font-size: 16px;
    font-weight: 800 !important;
    color: #212529;
}

.promise-h2{
    font-size: 48px;
    font-weight:lighter;
    margin-bottom: 1.5rem;
    color: #212529;
}

.promise-p{
    text-align: center;
    font-size: 16px;
}

.about-img{
    width: 85%;
    margin: auto;
    display: block;
    z-index: -1;
    position: relative;
}

.about-div{
    margin: auto;
    width: 60%;
    margin-top: -5rem;
}

.about-div .content-body p:first-child{
    margin-bottom: 1rem;
}

.store-schedule{
    list-style: none;
    width: 25rem;
    text-align: left;
}

.store-schedule li{
    border-bottom: 1px solid rgba(230, 167, 86, 0.5);
    padding-bottom: 0.25rem;
    margin-bottom: 1rem;
    display: flex;
    font-style: italic;
}

.today{
    font-weight: bold;
    color: #e6a756;
}

.store-schedule span{
    display: block;
}

.store-section{
    height: 53rem;
}

.product-section{
    margin-top: 7rem;
    margin-bottom: 17rem;
}

.product-section img{
    width: 60%;
    display: block;
    margin: auto;
    position: relative;
}

.product-right-div{
    position: absolute;
    right: 0;
    margin-right: 100px;
    margin-top: -80px;
}

.product-left-div{
    position: absolute;
    left: 0;
    margin-left: 100px;
    margin-top: -80px;
}

.product-img{
    position: relative;
    z-index: -1;
}


.product-div{
    max-width: 50vw;
}

.product-right-div .product-div{
    margin-left: auto;
}

.footer{
    padding: 2rem;
}
